<plugin id="org.dita4publishers.localization">
    <!-- Plugin version -->
    <feature extension="package.version" value="1.0"/>
    <!-- Plugin dependency -->
    <require plugin="org.dita4publishers.common.html"/>
    <require plugin="org.dita4publishers.epub"/>
    <!-- Define language file -->
    <feature extension="dita.xsl.strings" file="d4p-extension-strings.xml"/>
</plugin>